/* $Id: blocks.css,v 1.10 2011/01/14 03:12:40 jmburnz Exp $ */

/**********************************************************
 *                       Blocks
 **********************************************************/
/**
 * Styles set for .block, .block-inner, block-title and 
 * .block-content will be inherited by all blocks.
 */
.block {
	clear: both;
	margin: 0 0 1.5em;
}

.block-inner    {
	
} /* Block inner div */

.block-title    {} /* h2 block title */
.block .content {
	margin: 0 !important;
	padding: 0 !important;
	} /* Block content wrapper */


/*--------------------------------------------------------------*/
/* Quicktab hide more
/---------------------------------------------------------------*/
.quicktabs_main .view-footer {
	display: none;
	
}


/*--------------------------------------------------------------*/
/* View Recent Post / View Most Popular / View Most Commented
/---------------------------------------------------------------*/
.views-field-title .field-content, 
.views-field-subject .field-content {
  font-size:1em;
  font-weight:bold;
  text-decoration: none;
  color: #000;
}
.views-field-title .field-content a:link, 
.views-field-subject .field-content a:link,
.views-field-title .field-content a:visited,
.views-field-subject .field-content a:visited {
  font-size:1em;
  font-weight:bold;
  text-decoration: none;
  color: #000;
}
.views-field-title .field-content a:hover, 
.views-field-subject .field-content  a:hover,
.views-field-title .field-content a:focus, 
.views-field-subject .field-content  a:focus,
.views-field-title .field-content a:active,
.views-field-subject .field-content a:active {
  font-size:1em;
  font-weight:bold;
  text-decoration: underline;
  color: #000;
}
.views-field-body .field-content p {
  display: inline;
  padding: 0;
  margin: 0;
}
.views-row-even, .views-row-odd {
  border-bottom:1px solid #d6d6d6;	
  margin: 5px 0;
}
.views-row-last {
  border: none;	
}
.views-field-created .field-content, 
.views-field-timestamp  .field-content { 
  font-size:.92em;
  color:#888888;
}


/**********************************************************
 *                  Sidebar blocks
 **********************************************************/
/**
 * You can target blocks in one or more regions and 
 * style them differently. 
 */
/* Low specifity selector to style blocks in both sidebars. */
.sidebar .block {
	
}

.sidebar .block p {
	padding: 10px ;
}
.sidebar .block-title {}
.sidebar .block-inner {
	}
.sidebar .block .content {}

/* Low specifity selector to style blocks in one sidebar. */
.region-sidebar-first .block {
	
}

.region-sidebar-first .block-inner {}
.region-sidebar-first .block .content {
}

.region-sidebar-second  {
}

.region-sidebar-second .block {
}

.region-sidebar-second .block-title, .region-sidebar-first .block-title {
  font-size: 1.17em;
  font-weight: bold;
  line-height: 1.25em;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #006598; /* Tealish Blue */
  background-color: white;
  border-bottom-style: dashed;
  border-bottom-width: thin;
  border-bottom-color: #dadada; /* Lt Grey */
  margin-bottom: 12px;
  padding-top: 9px;  
  padding-right: 2px;
  padding-bottom: 9px;
  padding-left: 2px;
}
.region-sidebar-second .block-inner {
}

.region-sidebar-second .block .content {
}

/* Very high specifity selectors to style blocks in one sidebar. */

/* First Sidebar */
#sidebar-first .block {}
 
#sidebar-first .block-title {
}
#sidebar-first .block-inner {}

#sidebar-first .block .content {}

.region-sidebar-first .block p, .region-sidebar-first .block li {
	text-decoration: none;
}
.region-sidebar-first .block p a:link, .region-sidebar-first .block p a {
	text-decoration: none;
}
.region-sidebar-first .block p a.active, .region-sidebar-first .block p a:visited {
	 text-decoration: none;
}
.region-sidebar-first .block p a:hover, .region-sidebar-first .block p a:focus {
	color:#006598; /* link blue */ 
	text-decoration: none;
}
.region-sidebar-first .block ul.menu li a:link, .region-sidebar-first .block ul.menu li a:hover, .region-sidebar-first .block ul.menu li a:active, .region-sidebar-first .block ul.menu li a:visited { 
	 text-decoration: none;
	 margin-right:10px;
	 color:#006598; /* link blue */ 
}

/* Second Sidebar */
#sidebar-second .block {
}

#sidebar-second .block-title {
}

#sidebar-second .block-inner {
}

#sidebar-second .block .content {
}

.region-sidebar-second .block p, .region-sidebar-second .block li {
	text-decoration: none;
}
.region-sidebar-second .block p a:link, .region-sidebar-second .block p a {
	text-decoration: none;
}
.region-sidebar-second .block p a.active, .region-sidebar-second .block p a:visited {
	 text-decoration: none;
}
.region-sidebar-second .block p a:hover, .region-sidebar-second .block p a:focus {
	color:#F39942; /* orange */
	text-decoration: none;
}
.region-sidebar-second .block ul.menu li a:link, .region-sidebar-second .block ul.menu li a:hover, .region-sidebar-second .block ul.menu li a:active, .region-sidebar-second .block ul.menu li a:visited {
	 text-decoration: none;
	 margin-right:10px;
	 color:#DBB676;  
}



/**********************************************************
 *                  Region blocks
 **********************************************************/
/* Low specifity selector to style blocks in all regions. */
.region .block {}
.region .block-title {}
.region .block-inner {}
.region .block .content {}

/* Low specifity selector to style blocks in one region. */
.region-leaderboard .block {}
.region-leaderboard .block-title {}
.region-leaderboard .block-inner {}
.region-leaderboardt .block .content {}

.region-header .block {}
.region-header .block-title {}
.region-header .block-inner {
  
	}
.region-header .block .content {}

.region-help .block, {

}
p .region-help .block {
}

.region-help .block-title {}
.region-help .block-inner {
  background-color: #fff2f2; /* peach */
  color: #220000;
  border-color: #cc0000;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;  
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  font-weight: normal;
  margin: 1em;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;	    
}

.region-help .block .content {}

.region-highlight .block {}
.region-highlight .block-title {}
.region-highlight .block-inner {}
.region-highlight .block .content {}

.region-content .block {
	}
.region-content .block-title {}
.region-content .block-inner {}
.region-content .block .content {
}

.region-secondary-content .block {
	background-color: #fff;
}
.region-secondary-content .block-title {
	background-color: #fff;
}
.region-secondary-content .block-inner {
	background-color: #fff;
	}
.region-secondary-content .block .content {
	background-color: #fff;
	}

.region-tertiary-content .block {}
.region-tertiary-content .block-title {}
.region-tertiary-content .block-inner {}
.region-tertiary_content .block .content {}

.region-footer .block {
  
}
.region-footer .block-title {}
.region-footer .block-inner {}
.region-footer .block .content {}


/**********************************************************
 *                   Module blocks
 **********************************************************/
/**
 * Module Block ID's 
 * For contributed module blocks the pattern is the same,
 * i.e. #block-[module]-[delta]
 */

#block-system-main                 {} /* The Main Content block  */
#block-book-navigation             {} /* Book navigation block   */
#block-node-recent                 {} /* Recent posts            */
#block-blog-recent                 {} /* Recent Blog posts       */
#block-comment-recent              {} /* Recent Comments block   */
#block-forum-active                {} /* Active Forum topics     */
#block-forum-new                   {} /* New Forum topics        */
#block-locale-language             {} /* Language Switcher block */
#block-node-syndicate              {} /* Syndicate block         */
#block-poll-recent                 {} /* Most recent poll        */
#block-profile-author-information  {} /* Author information      */
#block-statistics-popular          {} /* Popular content         */
#block-system-help                 {} /* Help block        */
#block-system-management           {} /* Management block        */
#block-system-powered-by           {} /* Powered by Drupal       */
#block-user-login                  {} /* Login block             */
#block-system-navigation           {} /* Navigation Menu block   */
#block-user-new                    {} /* Who's New block         */
#block-user-online                 {} /* Who's Online block      */

/* Primary and Secondary links blocks */
#block-menu-main-menu-links   {
	
	
}
#block-menu-secondary-links {}

/* The class selector applies to all blocks of these types. */
.block-system     {}
.block-user       {}
.block-node       {}
.block-blog       {}
.block-poll       {}
.block-book       {}
.block-comment    {}
.block-locale     {}
.block-aggregator {}
.block-devel      {}

/**********************************************************
 *                 Search block form
 **********************************************************/
#block-search-form {}
#block-search-form .block-inner {}
#block-search-form .block .content {}

#search-block-form {}

/* Wrapper divs. */
#search-block-form > div {}
#search-block-form .container-inline {}

#search-block-form .form-item-search-block-form {}

#search-block-form label {}
#search-block-form input {}
#search-block-form .form-item {}
#search-block-form .form-submit {}
#search-block-form #edit-search-block-form-2 {}

/* Override forms.css focus style */
#edit-search-block-form-2:hover,
#edit-search-block-form-2:focus {}

/* Search in header */
.region-header #block-search-form {
	margin-top: 10px;
	margin-right: 5px;
}

/**********************************************************
 *                   Block item-list
 **********************************************************/
.block .item-list ul {
  margin: 0;
}
.block .item-list ul li {}


/**********************************************************
 *                  Gpanel blocks
 **********************************************************/
/* Debug Gpanel blocks */
.gpanel .block {}
.gpanel .block-inner {}

p .field-content {
	margin: 0;
}

