/* $Id: comments.css,v 1.3 2010/01/11 07:32:49 jmburnz Exp $ */

/**
 * @file comments.css
 * Basic styles for comments.
 */

/**********************************************************
 *                     Comments
 **********************************************************/
/* Comment wrapper */
#comment-wrapper {}

.comment-wrapper h2.title {
	margin-left: 50px;  
	margin-top: 20px;
	margin-bottom: 10px;
	padding-top: 20px;
}

/* Adjusts Comment title for forums */
.node-forum h2.title {
	padding-top: 20px; 
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
	margin-left: 50px;
	margin-bottom: 10px;
	margin-right: 0;
}


#comments
{
  background-color: transparent;
  background-image: url("../images/comments-heading-bg.gif");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0px 8px;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  color: #969696;
  font-weight: normal;
  line-height: normal;
}

	
.comment {
  background-color: transparent;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

/* Zebra styles for comments. */
.comment.odd .indented { }
.comment.odd  {
  background-color: #f7f7f7;
  border-top-style: dashed;
  border-top-width: thin;
  border-top-color: #858585;
}
.comment.even .indented {}
.comment.even {
  border-top-style: dashed;
  border-top-width: thin;
  border-top-color: #858585;
}

/* Over-ride default .inner styles. */
.comment-inner {}

.comment .indented {}

#comments .indented {
  margin-left:0px;
  padding-top:1px;
}
#comments .indented .comment {
  background-image: url("../images/comments-indented.gif") ;
  background-position: 15px 15px; /*left top;*/
  background-repeat: no-repeat;
  padding-left:45px;
  padding-top:17px;
}
#comments .indented .indented .comment {
 padding-left:90px;
 background-position: 60px 15px; 
}
#comments .indented .indented .indented .indented .comment {
  padding-left:135px;
  background-position: 105px 15px; */
}
#comments .indented .indented .indented .indented .indented .comment {
  padding-left:180px;
  background-position: 150px 15px;
}
#comments .indented .indented .indented .indented .indented .indented .comment {
  padding-left:225px;
  background-position: 195px 15px;
}
#comments .indented .indented .indented .indented .indented .indented .indented .comment {
  padding-left:270px;
  background-position: 240px 15px;
}
#comments .indented .indented .indented .indented .indented .indented .indented .indented .comment {
  padding-left:315px;
  background-position: 285px 15px;
}
#comments .indented .indented .indented .indented .indented .indented .indented .indented .indented .comment {
  padding-left:360px;
  background-position: 330px 15px;
}
#comments .indented .indented .indented .indented .indented .indented .indented .indented .indented .indented .comment {
  padding-left:405px;
  background-position: 375px 15px;
}
#comments .indented .indented .indented .indented .indented .indented .indented .indented .indented .indented .indented .comment {
  padding-left:450px;
  background-position: 420px 15px;
}

/* The title of each comment. */
.comment-title {}

.comment-id {}
.comment-title .new {color: #FF8000;}

.comment-title a:link,
.comment-title a:visited,
.comment-title a:active {
  text-decoration: none;
}

.comment-title a:hover {
  text-decoration: underline;
}

.comment .user-picture {
  float: right; /* RTL */
  margin: 0.3em 0 0.1em 0.5em; /* LTR */
}

.comment .user-picture img {}

.comment-submitted {
	padding-top: 5px;
	padding-bottom: 5px;
}

.comment-submitted a {}
.comment-submitted a:hover {}

/* Comment content wrapper. */
.comment-content {}

.comment-content p{
	margin-top: 10px;
	margin-bottom: 10px;
}

.comment .links {
  text-align: right; /* LTR */
  clear: both;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* undo nodes inline to customize comments */
.comment .node-content ul.links.inline {
  padding: 0;
  border: none;
  background: none;
}
  

/* Style comments depending on the comment author. */
.comment-by-node-author {}
.comment-by-anon   {}
.comment-mine      {}

/* Theme comment status. */
.comment .unpublished {}

