/* $Id: custom.css,v 1.1 2010/06/24 23:08:18 jmburnz Exp $ */

/**********************************************************
 *                 Custom Styles
 **********************************************************/
/**
 * Here you can add custom stles for your theme that do not fit
 * into one if the modular stylesheets.
 */

/* Workaround for Admin menu bar shadow */
html body.admin-menu {
  margin-top:45px !important;
}

#main-content .content {
  margin: 0 !important;
  padding: 0 !important;
}


.image-vertical {
  width: 134px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}
  
.image-vertical  h5  {
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #000000;
  padding: 0;
  margin: 0;
  
  /*-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  margin-bottom: 6px;*/
}
 
.image-vertical h6 {
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: normal;
  color: #999;
  padding: 0;
  margin: 0;
}

.image-vertical p {
  padding: 0 !important;
  margin: 0 !important;
}

.image-vertical img {
  border:thin #BCB8BB solid; /* tealish */
  max-width: 124px;
  min-width: 124px;
  max-height: 124px;
  min-height: 124px;
  padding: 0;
  margin: 0;
}


.image-horizontal {
  border-top: medium #006598 solid; /* tealish */
  min-width: 280px;
  /*float: left;*/
  padding: 0 !important;
  margin: 0 !important;
}
  
.image-horizontal  h5  {
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #000000;
  padding-top: 0 !important;
  padding-bottom: 5px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  margin: 0 !important;
}
 
.image-horizontal h6 {
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: normal;
  color: #999;
  padding-top: 0 !important;
  padding-bottom: 5px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  margin: 0 !important;
}

.image-horizontal p {
  padding-top: 0 !important;
  padding-bottom: 5px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  margin: 0 !important;
}

.image-horizontal img {
  float:left;
  border:thin #BCB8BB solid;
  max-width: 124px;
  min-width: 124px;
  max-height: 124px;
  min-height: 124px;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  /*margin: 0;*/
}