/* $Id: html-elements.css,v 1.5 2011/01/14 03:12:40 jmburnz Exp $ */

/**
 * @file html-elements.css
 * Contains basic styles for type, lists, forms and tables.
 */
/**********************************************************
 *             Type
 **********************************************************/
 /**
 * Global Font Size
 *
 * All modern browsers set a base font of 16px, therefore
 * the default value of 1em = 16px. We reduce this to 12px.
 *
 * 75% of 16px. (0.75 * 16px = 12px).
 * 1em now is equal to 12 pixels. E.g.
 * 2em   = 24px
 * 1.5em = 18px
 * 1em   = 12px
 * 0.5em = 6px
 *
 * You may find these "px to em" calculators helpful;
 * http://riddle.pl/emcalc/
 * http://pxtoem.com/
 */

html {
  font-size: 80%;
}

body {
  line-height: 1.5;
  margin: 0;
  color:#222;
  background: #D4D4D4; /* Grey  */
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Candara, "Helvetica Neue", Arial, Cambria, Georgia, Times New Roman;
}

h1 {
  font-size: 2em; /* 2em */
  margin: 0 0 0.5em 0;
  padding: 0;
}

h2 {
  font-size: 1.8em; 
}

h3 {
  font-size: 1.6em; 
  color: #7DAB26; /* Green */
}

h4 {
  font-size: 1.4em; 
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}
/* The main title on each page. */
h1#page-title {
	margin: 0;
	color: #F39840; /* orange */
	clear:left;
	border-bottom-width: 1px;
    border-bottom-style: solid; 
    border-bottom-color: #d7d7d7; /* lt grey */
}

/* Micro reset */
h1, h2, h3, h4, h5, h6,
h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img,
em, dfn, del, ins {
  margin: 0; 
  padding: 0;
}

p {
  margin: 0 0 0.75em;
}

blockquote {
	background-color: transparent;
	background-image: url("../images/blockquote.gif");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left 0px;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	color: #454545;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 1em;
	font-style: italic;
	padding-left: 38px;
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
}

blockquote p
{
	background-color: transparent;
	background-image: url("../images/blockquote-inner.gif");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: right bottom;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	padding-right: 33px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.photoandcaption:after {
    clear: both;
    content: "";
    display: block;
}
.photoandcaption {
    display: block;
    float: none;
    margin-bottom: 10px;
    position: relative;
    width: 713px;
	border-right: 11px solid #C1C51D;
}

.photo {
    float: left;
}

.photo img {
     
	border: 1px solid #DDDDDD;
    padding: 4px;
}

.photocaption {
	font-family: Arapey;
	font-size: 2em;
    color: #7CAC27;
    margin-left: 490px;
    padding: 10px 10px 7px;
    text-align: left;
    width: 192px;
	float: none;
}



 
img {
	border-width: 1px;
	border-style: solid;
	border-color: #dddddd;
	border-image-source: none;
	border-image-slice: 100% 100% 100% 100%;
	border-image-width: 1 1 1 1;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	padding: 4px;
}

strong {
  font-weight: bold;
}

em, dfn {
  font-style: italic; 
}

dfn {
  font-weight: bold;
}

sup, sub {
  line-height: 0;
}

del {
  color: #666; 
}

ins {
  border-bottom: none;
  text-decoration: none;
}

pre, code {
  margin: 1.5em 0; 
  padding: 0; 
  white-space: pre;
}

pre, code, tt {
  font: 1em "Andale Mono", "Lucida Console", monospace;
}

p code {
  font: 1em "Courier New", Courier, monospace;
}

/* Preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

/* Mitigate relative shrinkage */
li li, li p, td p, blockquote p {
  font-size: 1em;
}

blockquote, q {
  font-style: italic;  /* LTR */
  margin: 0 0 1.5em;
  padding: 0 0 0 3em;  /* LTR */
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, 
blockquote:after, 
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}


/**********************************************************
 *              Front Page Headers
 **********************************************************/
 
.gpanel h2.block-title {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #dadada;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #006598;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.25em;
  margin-bottom: 12px;
  padding-top: 9px;
  padding-right: 2px;
  padding-bottom: 9px;
  padding-left: 2px;
}

h2.block-title {
   
}

#latest-blog-roll {
  background:url(../images/latest-blog-roll.gif) left top repeat-x;
  float:left;
  width:100%;
  clear:both;
  color:#0b0b0b;
  font-size:1.33em; 
}
#latest-blog-roll .inner {
  background:url(../images/icon-latest-blog-roll.gif) 0px 11px no-repeat;
  padding:14px 16px 13px 39px;
}

#block-system-main h2.block-title {}


/**********************************************************
 *                 Global Link Styles
 **********************************************************/
 a {
  margin: 0; 
  padding: 0;
}

a:link {
  font-weight:bold;
  text-decoration:none;
  color:#006598; 
}
a:visited {
	color:#006598;}

a:hover, a:focus, a:active  {
	text-decoration:underline;
}

a.active  {}
a.active-trail {}

/* Drupal sets this to black. */
li a.active {}

/* Remove borders on linked images. */
a img {
  border: none;
}


/*********************************************************
*                     Lists
**********************************************************/
.gpanel .item-list ul li, .gpanel ul { /*, div.item-list ul li*/
  list-style-image: url("../images/list-style-dotted-arrow.gif");
  margin-left: 1em; /* Added to get more in the lists */
}

.gpanel .views-field-title .field-content a:link, .gpanel .views-field-title .field-content a:visited {
  font-family: Arial,Helvetica,Verdana,"Bitstream Vera Sans",sans-serif;
  font-size:1em;
  text-decoration: none;
  color: #000;
}
.gpanel .views-field-title .field-content a:hover, .gpanel .views-field-title .field-content a:focus, .gpanel .views-field-title .field-content a:active {
  font-family: Arial,Helvetica,Verdana,"Bitstream Vera Sans",sans-serif;
  font-size:1em;
  text-decoration: underline;
  color: #000;
}

.gpanel .views-row-even, .gpanel .views-row-odd {
  border-bottom-width: 0;
  border-bottom-style: none;
}	

.gpanel-date {
  color: #888888;
}
	
ul, ol {
  margin: 0 0 1.5em 1.75em; /* LTR */
  padding: 0;
}

li {
  margin: 0; 
  padding: 0;
}

/* Set nested list indentation */
ul ul, ul ol,
ol ol, ol ul,
.block ul ul,
.block ul ol,
.block ol ol,
.block ol ul,
.item-list ul ul,
.item-list ul ol,
.item-list ol ol,
.item-list ol ul {
  margin: 0;
}



/* Set nested list list-style-types */
ul          {list-style-type: disc;}
ul ul       {list-style-type: circle;}
ul ul ul    {list-style-type: square;}
ul ul ul ul {list-style-type: circle;}
ol          {list-style-type: decimal;}
ol ol       {list-style-type: lower-alpha;}
ol ol ol    {list-style-type: decimal;}

dt {font-weight: bold;}
dd {margin: 0 0 1.5em 1.75em;} /* LTR */

.item-list ul, 
.item-list ol {
  margin: 0 0 0 1.75em; /* LTR */
  padding: 0;  
}

.item-list ul li {}

/* Menus in sidebars  */
 ul li.leaf         {list-style-type: none !important;}
.region-sidebar-first ul ul       {list-style-type: none;}
.region-sidebar-first ul ul ul    {list-style-type: none;}
.region-sidebar-first ul ul ul ul {list-style-type: none;}

/*********************************************************
*                     Form elements
**********************************************************/
form {
  margin: 0 0 1.5em 0; 
  padding: 0;
}

input {
}

input.text, 
input.title,
textarea, 
select {
  margin:0.375em 0;  
  border: 1px solid #C0C0C0;
}

input.text:focus, 
input.title:focus,
textarea:focus, 
select:focus {
  border: 1px solid #666;
}

input.text, 
input.title {
  padding: 0.375em;
}

input.title {
  font-size: 1.5em;
}

input.form-text, 
textarea {
  border: 1px solid #CCC;
  height: auto; 
  padding: 0.1875em 0; 
}

input.form-checkbox, 
input.form-radio {
  vertical-align: top;
}

div.form-item {
  margin-bottom: 1em; 
  margin-top: 1em;
}

.form-item strong.error {
  display: block;
}

.form-item textarea.error {
  padding: 0.1875em;
}

.form-item .description {
  font-size: 0.9em; 
  line-height: 1.667em;
}

span.form-required, 
span.marker {
  color: #8A1F11;
}

div.form-item div.description img {
  margin: 0;
}

#node-admin-filter ul {
  padding: 0.375em 0;
}

#edit-operation-wrapper select {
  margin: 0.375em;
}

label, legend {
  margin: 0; 
  padding: 0;
}

/* Fieldsets */
fieldset {
  background-color: #f9f9f9;
  border: 1px solid #dadada;
  margin: 1.5em 0;
  padding: 0.75em; 
}

/* Targets IE 7. Fixes background image in field sets (if one is set). */
*:first-child+html fieldset {
  background-color: transparent;
  background-position: 0 .75em;
  padding: 0 1em 0.75em;
}

*:first-child+html fieldset > .description, *:first-child+html fieldset .fieldset-wrapper .description {
  padding-top: 1.5em;
}

/* Fix legend in Firefox */
fieldset legend {
  display: block;
  font-weight: bold;
  padding: 0 1em 0 0;
}

*:first-child+html fieldset legend, *:first-child+html fieldset.collapsed legend {
  display: inline;
}

html.js fieldset.collapsed {
  background: transparent;
  padding-bottom: .75em;
  padding-top: 0;
}

/**********************************************************
 *                  Simple QuickTabs
 **********************************************************/

div.quicktabs-style-nostyle, ul.quicktabs-style-nostyle {
  float:left;
  width:100%;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  margin-bottom: 10px;
  padding:0;
}
div.quicktabs-style-nostyle p {
  margin:1em 0 0;
}
ul.quicktabs-style-nostyle {
  position:relative;
  top:1px;
  z-index:1;
}
ul.quicktabs-style-nostyle li, ul.quicktabs-style-nostyle li a:link, ul.quicktabs-style-nostyle li a:visited {
  float:left;
  display:block;
  padding:0px;
  margin:0px;
  text-decoration:none;
}
ul.quicktabs-style-nostyle li {
  padding-right:2px;
  height:28px;
}
ul.quicktabs-style-nostyle li a:link, ul.quicktabs-style-nostyle li a:visited {
  background:#f9f9f9;
  border-color:#ffffff #f9f9f9 #ffffff #f9f9f9;
  border-width:2px 0px 1px 0px;
  border-style:solid;
  color:#323232;
  padding:4px 15px 3px;
  font-weight:bold;
  height:18px;
}
ul.quicktabs-style-nostyle li.active a:link, ul.quicktabs-style-nostyle li.active a:visited {
  padding:4px 14px 2px;
  background:#ffffff;
  border-width:3px 1px 1px 1px;
  border-color:#ffffff #ffffff #ffffff #ffffff;
  color:#000000;
}
/* Quicktabs inner Block margin  */
div.quicktabs-style-nostyle .block {
  padding-bottom:0px;
}
div.quicktabs-style-nostyle .block .inner {
  margin:0px;
}
div.quicktabs_main {
  border-top-width:1px;
  border-top-style:solid;
}
div.quicktabs_tabpage {
  width:100%;
  float:left;
}

/* Quick Tabs/Node when assigned in block */
.page .block-theme-black ul.quicktabs-style-nostyle li a:link, .page .block-theme-black ul.quicktabs-style-nostyle li a:visited, .block-theme-black div.node {
  border-bottom-color:#3f3f3f;
}
.page .block-theme-black ul.quicktabs-style-nostyle li.active a:link, .page .block-theme-black ul.quicktabs-style-nostyle li.active a:visited {
  border-top-color:#3f3f3f;
  border-right-color:#3f3f3f;
  border-left-color:#3f3f3f;
}
.page .block-theme-black div.quicktabs_main {
  border-top-color:#3f3f3f;
}

/* Quick Tabs */
ul.quicktabs-style-nostyle li a:link, ul.quicktabs-style-nostyle li a:visited {
  border-bottom-color:#006598;
}
ul.quicktabs-style-nostyle li.active a:link, ul.quicktabs-style-nostyle li.active a:visited {
  border-top-color:#006598;
  border-right-color:#006598;
  border-left-color:#006598;
}
div.quicktabs_main {
  border-top-color:#006598;
}

/**********************************************************
 *                  System Tabs - should put in between ID like #content-tabs - look out for unintended consequences
 **********************************************************/

ul.primary, ul.secondary {
  border-bottom-width:1px;
  border-bottom-style:solid;
  clear: both;
  margin: 0;
  padding: 0;
  float:left;
  width:100%;
  height:25px;
  border-bottom-color:#006598;
}
ul.secondary {
  margin-top: 6px;
  border-bottom:none;
}
ul.primary li, ul.secondary li,  ul.primary li a:link,  ul.primary li a:visited,  ul.secondary li a:link,  ul.secondary li a:visited {
  border-style: none;
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1em;
  border-bottom-color:#006598;
}
 ul.primary li,  ul.secondary li {
  padding-right:3px;
}
 ul.primary li a:link,  ul.primary li a:visited,  ul.secondary li a:link,  ul.secondary li a:visited {
  background: #f9f9f9;
  border-color: #ffffff #f9f9f9 #ffffff #f9f9f9;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  color: #323232;
  padding: 4px 15px 3px;
  font-weight: bold;
  height:16px;
}
 ul.secondary li a:link,  ul.secondary li a:visited {
  color: #323232;
  line-height:normal;
  padding: 4px 12px 3px;
}
 ul.primary li a.active:link,  ul.primary li a.active:visited,  ul.primary li a.active:hover,  ul.primary li a.active:focus,
 ul.primary li.active a:link,  ul.primary li.active a:visited,  ul.primary li.active a:hover,  ul.primary li.active a:focus {
  padding:4px 14px 2px;
  background:#ffffff;
  border-width:3px 1px 1px 1px;
  border-color:#ffffff #ffffff #ffffff #ffffff;
  color:#323232;
  border-top-color:#006598;
  border-right-color:#006598;
  border-left-color:#006598;
}
 ul.secondary li a.active:link,  ul.secondary li a.active:visited {
  color:#ffffff;
  background:#006598;
}
 ul.primary li a:hover,  ul.primary li a:focus,  ul.secondary li a:hover,  ul.secondary li a:focus {
  color:#ffffff;
  background:#006598;
}



/**********************************************************
 *                   Tables
 **********************************************************/
table {
  border-spacing: 0;
  margin: 1em 0; 
  padding: 0; 
  width: 100%;
}

caption, th, td {
  font-weight: normal;
  text-align: left; /* LTR */
}

table, td, th {
  vertical-align: middle;
}

tbody, tfoot, thead, tr {
  margin: 0; 
  padding: 0;
}

thead th {
  border-bottom: 0.1875em solid #C0C0C0; 
  color: #494949;
  font-weight: bold; 
}

td, th {
  border-bottom: 1px solid #CCC;
  margin: 0;
  padding: 0.375em 0.5em; 
}

tr.even,
tr.odd,
tbody th {
  /* border-bottom: 1px solid #CCC; System default */
}

tr.odd, 
tr.info {
  background-color: #F5F5F5;
}

tr.even {
  background-color: #FFF;
}

tr.drag {
  background-color: #FFFFF0;
}

tr.drag-previous  {
  background-color: #FFD;
}

tr.odd td.active  {
  background-color: #EEE;
}

tr.even td.active {
  background-color: #F7F7F7;
}

td.region, 
td.module, 
td.container td.category {
  background-color: #EEE;
  border-bottom: 1px solid #CCC;
  border-top: 1.5em solid #FFF;
  color: #222;
  font-weight: bold;
}

tr:first-child td.region,
tr:first-child td.module, 
tr:first-child td.container {
  border-top-width: 0;
}

/* Table links */
table a:link, 
table a:visited {}
table a:visited, 
table a.active  {}

/* More Link for Views */
.view .more-link span { 
  display: block;
  border-bottom-style: dashed;
  border-bottom-width: thin;
  border-bottom-color: #858585;
  padding-top: 9px;
  padding-right: 7px;
  padding-bottom: 10px;
  padding-left: 7px;
}

.view .more-link {
  font-weight: bold;
  clear: both;
  text-align: right;
  background-color: transparent;
  background-image: url("../images/view-more-link-bg.gif");
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: left bottom;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-style: dashed;
  border-color: #999999; /* Grey A5A5A5;*/
  border-width: thin;
}
