/* $Id: navigation.css,v 1.2 2010/07/24 02:26:35 jmburnz Exp $ */

/**********************************************************
 *                       Menus
 **********************************************************/
/**
 * Prefix these with the block id to style one menu only.
 */
/* Superfish Menu */
#block-superfish-1 {
	height: 35px;
	background: url('../images/primary-menu-bg.gif') repeat-x;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	border-bottom: 2px solid #006598; /* bluish green */
	border-top: 1px solid #E4E4E4; /* grey */
}

#block-superfish-2 {
	height: 35px;
	background-color: #FFF;  /* This is the background behind the superfish */
	width: 100%;
	margin: 0;
	padding: 0;
	border-bottom: 2px solid #E4E4E4;  /* Grey  old: bluish green #006598;*/
	border-top: 2px solid #E4E4E4;  /* Grey  old: bluish green #006598;*/
}

ul#superfish-2 .sf-menu {
	background: #FFF; 
}


ul.menu,
ul.menu ul, 
ul.menu ul ul, 
ul.menu ul ul ul {
	  margin: 0 0 0 0.75em; /* LTR */
	  padding: 0;
}

/* Menu li styles */
ul.menu li {
  	padding: 0.35em 0 0 0; /* LTR */
}

ul.menu li.collapsed {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F0F0F0;
}
ul.menu li.expanded  {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F0F0F0;
}

/* Where to undo the sidebar menu images */

ul.menu li.leaf      {
	list-style-type: none !important;
	list-style-image: none !important;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F0F0F0;
}

ul.menu li a:link    {}
ul.menu li a:hover   {}
ul.menu li a:visited {}
ul.menu li.active a  {}
ul.menu li.active-trail {}

ul.menu li.first {}
ul.menu li.last  {
	border-bottom: none}
ul li.expanded	{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F0F0F0;
}

/**********************************************************
 *               Primary & Secondary Links
 **********************************************************/
/**
 * Implimentation of Primary and Secondary Links.
 *
 * Primary & Secondary Links are colored by default so you 
 * can easily identify them.
 */

/* Hide menu headers. */
#main-menu-wrapper h2,
#secondary-menu-wrapper h2 {
  height: 0;
  overflow: hidden;
  position: absolute;
  margin: 0; 
  padding: 0;
}

/* Main Menu */

/* FLOAT RIGHT */
/* #main-menu-wrapper .main-menu-inner {float: right;} */

/* ALIGN CENTER */
/* #main-menu-wrapper .main-menu-inner {display: table; margin: 0 auto; text-align: center;} */

#main-menu-wrapper {
}

#main-menu {
  background: #DDD; /* Default gray for dev only. */
  font-weight: bold;
  
}

/* Modify the margin to set tab spacings. */
#main-menu li {
  display: inline;
  line-height: 2;
  list-style: none;
  margin: 0 1em;
}

#main-menu li a {
  text-decoration: none;
  white-space: nowrap;
}

/* Set pseudo class styles. */
#main-menu li a:link {}
#main-menu li a:visited {}
#main-menu li a:hover {}
#main-menu li a:focus {}
#main-menu li a:active {}


/* Primary first and last classes. */
#main-menu li.first {}
#main-menu li.last {}

/* Active trail classes. */
#main-menu li.active {}
#main-menu li.active-trail {}
#main-menu li.active-trail a {}


/* Secondary menu */

/* FLOAT RIGHT */
/* #secondary .secondary-inner {float: right;} */

/* ALIGN CENTER */
/* #secondary .secondary-inner {display: table; margin: 0 auto; text-align: center;} */

#secondary-menu-wrapper  {
  margin: 0;
}

#secondary-menu {
  background: #F48523; /* Orange top menu */ /* #EEE; Default gray for dev only. */
  font-weight: bold;
  color: #53200F; /* Dk Brown lettering */
  margin: 0;
  padding: 0;
  border-bottom: 3px solid #ECE6D1; /* Beige */
}

/* Modify the margin to set tab spacings. */
#secondary-menu li {
  display: inline;
  line-height: 2;
  list-style: none;
  margin: 0 1em;
  padding: 0;
}

#secondary-menu li a {
  text-decoration: none;
  white-space: nowrap;
}

/* Set pseudo class styles. */
#secondary-menu li a:hover {}
#secondary-menu li a:focus {}
#secondary-menu li a:active {}
#secondary-menu li a:visited {}

/* Secondary first and last classes. */
#secondary-menu li.first {}
#secondary-menu li.last {}

/* Active trail classes. */
#secondary-menu li.active {}
#secondary-menu li.active-trail {}
#secondary-menu li.active-trail a {}


/**********************************************************
 *                      Breadcrumb
 **********************************************************/
/**
 * Genesis places the breadcrumb directly below the header, 
 * giving it the full width of theme to expand into.
 * You can eaisly drag the breadcrumb html to the main 
 * content column if you need to.
 */

.breadcrumb { 
  line-height: 2;
  background-color: #ffffff;
  background-image: url("../images/breadcrumb-bg.gif");
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: left bottom;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  padding: 0px;
  margin-top: 5px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #E6E6E6;; /* Lt Grey */
  border-width: thin;
  
}

/* Don't know how to get this to work */
.breadcrumb-separator {
  background:url("../images/breadcrumb-link-bg.gif") no-repeat center center;
}

.breadcrumb a:link, .breadcrumb a:visited { /* this seems to do everythng */
  line-height: 2;	
  background-color: transparent;
  font-weight: bold;
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
  color:#222;
  text-decoration: none; 
}

.breadcrumb a:hover, a:focus, a:active {
}

.breadcrumb a:hover, .breadcrumb a:focus, .breadcrumb a:active {
  text-decoration: underline;
   
}
/**********************************************************
 *   Read more, Add New Comment, Login, # Comments
 **********************************************************/

#main-content .node-readmore a:link, #main-content .node-readmore a:visited {
  cursor:pointer;
  background-color:#e4e4e4;
  background-image: url(../images/node-link-icons.gif), url(../images/node-links-bg.gif);
  background-position: right -33px, left top;
  background-repeat: no-repeat, repeat-x;
  background
  color: #000;
  font-weight:bold;
  text-decoration: none;
  border:1px solid #dadada;
  padding-top: 5px;  
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 24px;
}

#main-content .comment-add a:link, #main-content .comment-comments a:link, 
#main-content .comment-add a:visited, #main-content .comment-comments a:visited {
  cursor:pointer;
  background-color:#e4e4e4;
  background-image: url(../images/node-link-icons.gif), url(../images/node-links-bg.gif);
  background-position: right 8px, left top;
  background-repeat: no-repeat, repeat-x;
  color: #000;
  font-weight:bold;
  text-decoration: none;
  border:1px solid #dadada;
  padding-top: 5px;  
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 24px;
}

#main-content .comment-add a:active, #main-content .comment-comments a:active,
#main-content .comment-add a:focus, #main-content .comment-comments a:focus,
#main-content .comment-add a:hover, #main-content .comment-comments a:hover {
  background-color:#FEFEFE;
  background-image: url(../images/node-link-icons.gif);
  background-position: right 8px;
  background-repeat: no-repeat;
}

#main-content .node-readmore a:active, 
#main-content .node-readmore a:focus, 
#main-content .node-readmore a:hover {
  background-color:#FEFEFE;
  background-image: url(../images/node-link-icons.gif);
  background-position: right -33px, left top;
  background-repeat: no-repeat;
}
 
#main-content .node ul.links li.comment_forbidden a {
  padding: 5px;
}

#main-content .node-links ul.links li span {
  padding-top: 5px;
  padding-right: 9px;
  padding-bottom: 5px;
  padding-left: 9px;
  text-decoration: none;
}


/**********************************************************
 *                     Pager 
 **********************************************************/
/* The first 2 classes provide the base pager styles. */
.item-list .pager {
  margin-bottom:10px;
  text-decoration: none;
  color: #006598;
}
.item-list ul.pager    {
  font-size: .9em;
  padding-top: 10px;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  text-decoration: none;
  color: #006598;
}
.item-list ul.pager li {
}

/* Theme the various states of pager links. */
.item-list ul.pager li a:link    {
  border:none;
  padding: 0;
  margin 0;
  text-decoration: none;
  color: #006598;
}
.item-list ul.pager li a:visited {
  text-decoration: none;
  color: #006598;
}
.item-list ul.pager li a:hover   {
  background:#f9f9f9;	
}

/* Note: .pager-current is for the current page. */
.item-list ul.pager li.pager-item     {}
.item-list ul.pager li.first          {}
.item-list ul.pager li.last           {}
.item-list ul.pager li.pager-current  {
  font-weight:bold;
  color:#ffffff;
  background:#006598;
}
.item-list ul.pager li.pager-first    {}
.item-list ul.pager li.pager-previous {}
.item-list ul.pager li.pager-next     {}
.item-list ul.pager li.pager-last     {}


/**********************************************************
 *                    Skip Navigation
 **********************************************************/
/* The skip link will show on focus. The style of the skip 
 * link matches toolbar and is the same as for the Seven theme. 
 */
#skip-link {
  margin-top: 0;
  position: absolute;
  left: 50%;
  margin-left: -5.25em;
  width: auto;
  z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  position: absolute;
  display: block;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background: #444;
  color: #fff;
  font-size: 0.94em;
  text-decoration: none;
  border-radius:0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;

}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  padding: 1px 10px 2px 10px;
}

