/* $Id: nodes.css,v 1.4 2010/06/24 23:08:18 jmburnz Exp $ */

/**********************************************************
 *                      Nodes
 **********************************************************/

.node {
  margin: 0;
  padding: 0;
}

/* Inner DIV */
.node-inner {}

/* Title */
.node-title {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #876046;
	margin-top: 5px;
	margin-bottom: 10px;
}
.node-title a {
	color: #F39840; /* orange */
	line-height: 1.25em;
  	text-decoration: none;
}

.node-title a:hover,
.node-title a:focus {
	color: #6B4A34; 
}

/* User picture */
.node .user-picture {
  float: right;
  margin: 0.3em 0 0.5em 1em;
}

/* Submitted - Top submitted date and author */
.node-submitted {
  background:#f2f2f2;
  border:1px solid #dadada;
  border-width:0px 1px 1px 0px;
  color:#919191;
  font-size:.92em;
  padding:0 0 0 7px;
  overflow: hidden;
  margin: 0 0 7px 0;
}
	
/* Bottom Read More, Add New Comment and Number of comments */ 
/* .node-content ul.links.inline */
.node-links ul.links.inline {
	display: block;
	overflow: auto;
	margin: 10px 0 0 0;
	padding-top: 13px;
	padding-right: 3px;
	padding-bottom: 13px;
	padding-left: 8px;
	background-color: #f9f9f9;
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #dadada;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #006598;
}

.comment .node-content ul.links.inline {
}

#parent {
}
.right {
}

.right ul.inline, .right ul.links.inline {
    padding-left: 0;
	color: #6B4A34; /* brown */
}

.left {
    overflow: hidden;
	float: left;
}

.node-submitted span {}
.node-submitted a    {
  text-decoration: none;
  color: #006598;
}

.node-submitted a:hover    {
  text-decoration: underline;
  color: #006598;
}
/* Node content wrapper */
.node-content {}

/* Links */
div.node-links {
}

div.node-links ul.links li {
  padding-bottom:0px;
  padding-right:8px;
}

.node-links ul.links li  a:link, .node-links ul.links li  a:visited {
  background:#e4e4e4 url(../images/node-links-bg.gif) left top repeat-x;
  color:#0c0c0c;
  border:1px solid #dadada;
  padding:0px;
  text-decoration: none;
}

.node-links ul.links li  a:hover {
  background:#fefefe;
  text-decoration: none;
}

.node-links ul.links li  span {
  padding:5px 9px;
}

.node-links ul.links li.node_read_more span {
  background-position:right -33px;
  background-repeat:no-repeat;
  padding-right:24px;
}

.node-links ul.links li.comment_add span, .node-links ul.links li.comment_comments span {
  background-position:right 8px;
  background-repeat:no-repeat;
  padding-right:29px;
}

.node-links {
   
}
.node-links ul.links {
	
}
.node-links ul.links li {
	 
}
.node-links ul.links li a{
	
}

/* Page view */
.node-view {}

/* Teaser view */
.node-teaser {}

/* Sticky */
.node-sticky {}

/* Promoted */
.node-promoted {}

/* Status */
.node-unpublished {}
 
/* Theme nodes that belong to the author */
.node-mine {}


/**********************************************************
 *                   Core node types
 **********************************************************/
.node-article {}
.node-blog    {}
.node-page    {}
.node-book    {}
.node-poll    {}

/**********************************************************
 *                   Forum fix
 **********************************************************/
.node-forum .comment-wrapper   {
}

/**********************************************************
 *                 Custom node types
 **********************************************************/
/** 
 * Replace CONTENT_TYPE with the content type 
 * machine-readable name. 
 */
.node-type-CONTENT_TYPE {}

