/* $Id: page.css,v 1.13 2011/01/14 03:12:40 jmburnz Exp $ */

/**********************************************************
 *                    Body Classes
 **********************************************************/

body {
	padding: 0; /* 10px;*/
	margin: 0;
}
/**********************************************************
 *                  The wrapper divs
 *    Be careful how you modify these, see layout.css
 **********************************************************/
/**
 * Width Setting
 *
 * Genesis supports Elastic, Fluid and Fixed width values.
 * - Elastic layouts expand or contract when the font size is changed. 
 * - Fluid widths change when the browser is resized.
 * - Fixed width layouts stay the same even when the browser
 *   is resized or the font size is changed.
 *
 * Elastic layouts use ems,       e.g. 80em
 * Fluid layouts use percentages, e.g. 85%
 * Fixed widths use pixels,       e.g. 960px
 */ 
#container {
	width: 90%;/* 85%; 100%; */  /* This gives bars on the left and right */
	min-width: 960px;
	background-color: #ffffff;
}
/* Column wrappers */
#columns {
}
.columns-inner {
}
/* Content wrappers */
#content-column {
	background-color: #FFF;
	margin: 0;
	padding: 0; /*added*/
}
.content-inner {  /* affect front page and node - maybe put it in a ID? */
	padding: 0 10px;
	margin: 0;
}
/* Main content wrappers*/
#main-content {
}
#content {
	background-color: #FFF;
}
div.region.region-content {
	margin: 0;
	padding: 0;
}
/**********************************************************
 *                 Header Elements
 **********************************************************/
/* #header wraps #branding and #header-blocks. */
#header {
	background-color: #FFF; /* White   old: #DFCF4E; Gold */
	margin: 0;
	padding: 0;
}
/* #branding wraps #logo, #site-name and #site-slogan. */
#branding {
	float: left; /* LTR */
}
/* h1 is for the front page only, all others use the div. */
#branding h1 {
	font-size: 1em; /* reset h1, do not change! */
}
/* Logo and site_name wrapper. */
.logo-site-name {
}
div.logo-site-name, h1.logo-site-name {
}
/* Remove display:block if you want the site name inline with the logo. */
.logo-site-name span {
	display: block;
}
/* Logo. */
#logo {
	float:left;
	clear:left;
	margin:5px;
}
#site-name {
	font-weight: bold; /* Bold or else the line heights vary. */
	font-size: 2.75em;
	padding-left: 220px;
	padding-top:10px;
	font-family: Tahoma, Geneva, sans-serif;
	font-style: normal;
	text-decoration: none;
	color: #3A356F;
}
/* Override default pseudo class styles. */
#site-name a:link, #site-name a:visited {
	text-decoration: none;
	color: #3A356F;
}
#site-name a:hover, #site-name a:focus, #site-name a:active {
	text-decoration: none;
	color: #3A356F;
}
/* Site slogan. */
#site-slogan {
	padding-left: 220px;
	padding-top: 0;
	font-size: 1.75em;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-style: italic;
	font-weight: 200;	
	text-decoration: none;
	color: #3A356F;
	
}
/**********************************************************
 *                       Regions
 **********************************************************/
/* Target all regions - be careful with this one, its easily 
 * over-ridden and will target sidebar inner DIVS as well.
 */
.region {
}
/**
 * Each region has a main wrapper DIV and an inner DIV.
 * The following selectors are follow the patter of:
 * #region-name
 * .region-inner-div-name
 */
/* Leaderboard */
#leaderboard {
}
.region-leaderboard {
}
/* Header blocks */
#header-blocks {
	float: right;
}
.region-header {
}
/* Help */
#help {
}
.region-help {
}
/* Highlight */
#highlighted {
}
.region-highlighted {
}
/* Secondary content */
#secondary-content {
}
.region-secondary-content {
}

/* Tertiary content */
#tertiary-content {
	
}
.region-tertiary-content {

}
#tertiary-content .box {
  color: #ffffff;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #000000;
  height: 1%;
}

#tertiary-content .col {
  width: 30%;
  float: left;
  /*margin-right: 10px;*/
  padding-left: 15px;
  padding-right: 15px;
  /*background-color: #CCC;*/
}
  
#tertiary-content .col h4 {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #b2b2b2;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  margin-bottom: 6px;
  /*background-color: #ffffff;*/
}
 

/**********************************************************
 *                      Sidebars
 **********************************************************/
/* Target both sidebars with this low specifity selector. */
.sidebar {
	padding-top: 9px;
}
.sidebar .region {
}
/* Target a specific sidebar. */
#sidebar-first {
	background:#fff;
}
.sidebar .region-sidebar-first {
}
#sidebar-second {
	background:#fff;
	
}
.sidebar .region-sidebar-second {
}
/**********************************************************
 *          Search form, Search results
 *          For the search block see blocks.css
 **********************************************************/
/* Search page fieldset. */
#search-form {
}
/* Basic search form. */
#search-form #edit-basic {
}
/* Advanced search form. */
#search-form #edit-advanced {
}
/* Use the child selector because the inner div has no class. */
#search-form > div {
}
#search-form .container-inline {
}
#search-form #edit-keys {
}
#search-form label {
}
#search-form input {
}
#search-form .form-item {
}
#search-form .form-submit {
}
/* Override forms.css text field focus style. */
#search-form #edit-keys:hover, #search-form #edit-keys:focus {
}
/* Search results list. */
ol.search-results {
	padding: 0;
	margin: 0;
}
ol.search-results li {
}
ol.search-results .title {
}
ol.search-results p {
}
ol.search-results .search-snippet {
}
ol.search-results .search-info {
}
/**********************************************************
 *                Footer, RSS Feed Icon
 **********************************************************/
#footer {
  background-color: transparent;
  background:url(../images/footer-bg.gif) left top repeat-x;
  padding: 10px;
}
.region-footer {
}
#footer .region {
}

.feed-icon {
}
.feed-icon img {
	padding:0 0.5em;
}
/**
 * #genesis-1c override
 * Unit:   px
 * Layout: Standard 3 col - left/content/right
 * Modification: right sidebar is wider than the right.
 */
/* Standard 3 column, px based widths (default). */
#genesis-1c .two-sidebars .content-inner {
	margin:0 300px; /*240px */
}
#genesis-1c .sidebar-first .content-inner {
	margin-left:300px; /*240px */
}
#genesis-1c .sidebar-second .content-inner {
	margin-right:300px; /*240px */
}
#genesis-1c #sidebar-first {
	width:290px; /*240px */
	margin-left:-99%; /* -100% */
}
#genesis-1c #sidebar-second {
	width:290px; /*240px */
	margin-left:-300px; /*240px */
}
/*
#genesis-1c .two-sidebars .content-inner {
  margin:0;
  padding: 0;
}
*/